fastapi==0.111.0
uvicorn==0.29.0
jinja2==3.1.4
gunicorn==21.2.0
python-jose[cryptography]==3.3.0  # для JWT токенов
psycopg2-binary>=2.9.9
python-dotenv==1.0.0
boto3>=1.28.0
requests==2.31.0
requests-aws4auth==1.2.3
passlib==1.7.4
bcrypt==4.0.1
python-slugify==8.0.1
Pillow==25.0.1